<h1>Login</h1>

<% if !current_user %>
  <%= form_for :session, url: login_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email", required: true %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password", required: true%>
    <%= f.submit "Login" %>
  <% end %>
  <%= link_to "Create an Account", new_user_path%>
<% else %>
  <%= link_to "Logout", login_path, method: :delete %>
<% end %>
