<h1>Tag: <%= @tag.name %></h1>


<%# if @tag.dailies.empty? %>
<h2>Dalies</h2>


<h2>Resources</h2>
<% @tag.resources.each do |resource| %>
    <% if resource.resource_type == "image"%>
      <%= render partial: "shared/image_card", locals: {resource: resource} %>
    <% elsif resource.resource_type == "quote" %>
      <%= render partial: "shared/quote_card", locals: {resource: resource}  %>
    <% elsif resource.resource_type == "link" %>
      <%= render partial: "shared/link_card", locals: {resource: resource}  %>
    <% else %>
      <div class="card">
        <div class="card-block">
          <div class="card-title">
            <%= resource.resource_type %>
          </div>
        </div>
        <div class="card-block">
          <%= resource.content %>
          <h5>Notes</h5>
          <p class="card-text"> <%= resource.notes %> </p>
        </div>
        <p> Tags:
          <% resource.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </p>
        <%= button_to "Edit", edit_resource_path(resource), method: :get, class: "btn btn-primary" %>
        <%= button_to "Delete", resource_path(resource), method: :delete, class: "btn btn-danger" %>
      </div>
  <%end%>
<% end %>
