<%= form_for @resource do |f| %>
  <div class="form-group">
    <%= f.radio_button :resource_type, "image" %>
    <%= f.label :image %> <br>
    <%= f.radio_button :resource_type, "quote" %>
    <%= f.label :quote %> <br>
    <%= f.radio_button :resource_type, "link"  %>
    <%= f.label :link %> <br>
    <%= f.radio_button :resource_type, "other" %>
    <%= f.label :other %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <p>
  <%= f.label :tags %><br />
  <%= f.text_field :tag_list, value: @resource.join_tags  %>
</p>
  <% if @resource.id %>
    <%= f.submit "Edit Resource", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Add Resource", class: "btn btn-primary" %>
  <% end %>
<% end %>
