<%= form_for @journal do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, required: true, class: "form-control" %>
  </div>
  <p>
  <%= f.label :tags %><br />
  <%= f.text_field :tag_list, value: @journal.join_tags  %>
</p>
  <% if @journal.id %>
    <%= f.submit "Edit Journal Entry", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Add Journal Entry", class: "btn btn-primary" %>
  <% end %>
<% end %>
