<h1>Dailies</h1>

<table class="table">
  <tr>
    <th>Did I do my best to</th>
    <%= render partial: 'shared/past_week' %>
    <th>Weekly Average</th>
  </tr>

<% if @dailies%>
  <% @dailies.each do |daily| %>
    <tr>
      <td><%=link_to daily.goal, daily_path(daily)%></td>
      <% daily.weeks_scores.each do |score| %>
          <td><%=score || "-" %> </td>
      <% end %>
      <td> <%= daily.weeks_average %> </td>
    </tr>
  <%end%>
<% end %>
</table>

<%= link_to "Add New Daily", new_daily_path, class: 'btn btn-primary'%>
<td></td>
