<h1>View Daily</h1>

<table class="table" id="dailies-table">
  <tr>
    <th>Did I do my best to</th>
    <%= render partial: 'shared/past_week' %>
    <th>Weekly Average</th>
    <th>Tags</th>
  </tr>

  <tr class="goal-data">
    <td><%=@daily.goal%></td>
    <% @daily.weeks_scores.each do |score| %>
        <td><%=score || "-"%></td>
    <% end %>
    <td> <%= @daily.weeks_average %> </td>
    <td>
      <% @daily.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    </td>
  </tr>
</table>

<%= link_to "Edit Goal", edit_daily_path(@daily), class: "btn btn-primary"%>
<%= link_to "Delete Goal", daily_path(@daily), method: :delete,  class: "btn btn-danger"%>

<br>
<br>

<%= form_for @daily, class: "form-inline"  do |f| %>
  <%= f.fields_for :score do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date, value: Date.today, class: "form-control" %>
    <%= f.label :score %>
    <%= f.number_field :score, in: 1..10, class: "form-control" %>
  <% end %>
  <%= f.submit "Submit Score", class: "btn btn-primary" %>
<% end %>
<br>

<div id="chart" data-source="<%= @daily.scores_list%>"></div>

<!-- <%# x =  [@daily.goal] + @daily.weeks_scores%> -->
