<h1>View Daily</h1>

<table class="table">
  <tr>
    <th>Did I do my best to</th>
    <%= render partial: 'shared/past_week' %>
    <th>Weekly Average</th>
  </tr>

  <tr>
    <td><%=@daily.goal%></td>
    <% @daily.weeks_scores.each do |score| %>
        <td><%=score || "-" %> </td>
    <% end %>
    <td> <%= @daily.weeks_average %> </td>
  </tr>

  </table>


<%= link_to "Edit Goal", edit_daily_path(@daily), class: "btn btn-primary"%>
<%= link_to "Delete Goal", daily_path(@daily), method: :delete,  class: "btn btn-danger"%>
